.navbar{
    display: none;
    justify-content: center;
    align-items: center;
    padding:1em 0em;
    z-index: 100;
}
.navbar-side{
    padding:1em 0em;
    z-index: 100;
}
.navbar a {
    text-decoration: none;
}
.navbar-side a {
    text-decoration: none;
}
 
.navbar button{
    font-size: .9em;
    font-weight:700;
    margin: .3em;
    color: #000;
}

